<!--<input placeholder="firstName" [(ngModel)]="customer.firstName" value="{{customer.firstName}}"><br><br>
<input placeholder=" lastName" [(ngModel)]="customer.lastName" value="{{customer.lastName}}"><br><br>
<input placeholder=" emailId" [(ngModel)]="customer.emailId" value="{{customer.emailId}}"><br><br>
<input placeholder=" MobileNum" [(ngModel)]="customer.MobileNum" value="{{customer.MobileNum}}"><br><br>
<input placeholder=" address" [(ngModel)]="customer.address" value="{{customer.address}}"><br><br>-->

<br><br>
<form action="">
  <div class="form-group">
    <label for="name">FirstName</label>
    <input type="text" class="form-control" id="name" required [(ngModel)]="customer.firstName" name="name"
      #name="ngModel">
    <div [hidden]="name.valid ||name.pristine" class="alert alert-danger">
      name is required
    </div><br><br>

    <label for="lastName">LastName</label>
    <input type="text" class="form-control" id="lastName" required ngModel name="lastName" #lastName="ngModel">

    <div [hidden]="lastName.valid ||lastName.pristine" class="alert alert-danger">
      Last name is required
    </div><br><br>

    <label for="emailId">emailId</label>
    <input type="text" class="form-control" id="emailId" required [(ngModel)]="customer.emailId" name="emailId"
      #emailId="ngModel">

    <div [hidden]="emailId.valid ||emailId.pristine" class="alert alert-danger">
      EmailId is required
    </div><br><br>


    <label for="MobileNum">MobileNum</label>
    <input type="text" class="form-control" id="MobileNum" required [(ngModel)]="customer.MobileNum" name="MobileNum"
      #MobileNum="ngModel">

    <div [hidden]="MobileNum.valid ||MobileNum.pristine" class="alert alert-danger">
      MobileNum is required
    </div>


  </div>
  <button class="btn btn-primary"><a routerLink="/secondComp" [state]="customer">Save</a>
  </button>

</form>
