<form class="abc">
  <div class="container">
    <table>
      <tr>
        <td>
          <label for="firstName"> <b>firstName: </b> </label></td>
        <td> <input [(ngModel)]="user.firstName" required id="name" #name="ngModel" placeholder="Enter username"
            name="firstName">
        </td>
      </tr>

      <div [hidden]="name.valid||name.pristine">Name is required</div>

      <tr>
        <td><label for="lastName"> <b>lastName:</b> </label></td>
        <td><input [(ngModel)]="user.lastName" required id="lastName" #lastName="ngModel" placeholder="Enter lastName"
            name="lastName">
        </td>
      </tr>
      <div [hidden]="lastName.valid||lastName.pristine">LastName is required</div>

      <tr>
        <td><label for="mobileNumber"> <b>mobileNumber:</b> </label></td>
        <td><input [(ngModel)]="user.mobileNumber" required id="mobileNumber" #mobileNumber="ngModel"
            placeholder="Enter mobileNumber" name="mobileNumber">
        </td>
      </tr>
      <div [hidden]="mobileNumber.valid||mobileNumber.pristine">Mobile num is required</div>

      <tr>
        <td><label for="emailId"> <b>EmailId:</b> </label></td>
        <td><input [(ngModel)]="user.emailId" required id="emailId" #emailId="ngModel" placeholder="Enter emailId"
            name="emailId">
        </td>
      </tr>
      <div [hidden]="emailId.valid||emailId.pristine">Email Id is required</div>

      <tr>
        <td><label for="accountType"> <b>AccountType:</b> </label></td>
        <td><input [(ngModel)]="user.accountType" required id="accountType" #accountType="ngModel"
            placeholder="Enter accountType" name="accountType">
        </td>
      </tr>
      <div [hidden]="accountType.valid||accountType.pristine">accountType is required</div>

      <tr>
        <td><label for="dateOfBirth"> <b>DateOfBirth:</b> </label></td>
        <td><input [(ngModel)]="user.dateOfBirth" required id="dateOfBirth" #dateOfBirth="ngModel"
            placeholder="Enter DOB" name="dateOfBirth">
        </td>
      </tr>
      <div [hidden]="dateOfBirth.valid||dateOfBirth.pristine">dateOfBirth is required</div>

      <tr>
        <td><label for="bankId"> <b>BankId:</b> </label></td>
        <td><input [(ngModel)]="user.bankId" required id="bankId" #bankId="ngModel" placeholder="Enter bankId"
            name="bankId">
        </td>
      </tr>
      <div [hidden]="bankId.valid||bankId.pristine">bankId is required</div>

      <tr>
        <td><label for="branchId"> <b>BranchId:</b> </label></td>
        <td><input [(ngModel)]="user.branchId" required id="branchId" #branchId="ngModel" placeholder="Enter branchId"
            name="branchId">
        </td>
      </tr>
      <div [hidden]="branchId.valid||branchId.pristine">branchId is required</div>

      <tr>
        <td><label for="accountNumber"> <b>accountNumber:</b> </label>
        </td>
        <td><input [(ngModel)]="user.accountNumber" required id="accountNumber" #accountNumber="ngModel"
            placeholder="Enter accountNumber" name="accountNumber">
        </td>
      </tr>
      <div [hidden]="accountNumber.valid||accountNumber.pristine">accountNumber is required</div>

      <tr>
        <td><label for="address"> <b>Address:</b> </label>
        </td>
        <td><input [(ngModel)]="user.address" required id="address" #address="ngModel" placeholder="Enter address"
            name="address">
        </td>
      </tr>
      <div [hidden]="address.valid||address.pristine">address is required</div>

      <button type="button" class="btn btn-warning" (click)="saveData()">Save</button>
    </table>

  </div>
</form>
