.abc {
  padding: 50px 40px 40px 50px;
  background-color: yellowgreen;
  position: relative;
  border: 3px solid salmon;
  border-radius: 30px;
}

.btn {
  background-color: crimson;
  border-collapse: collapse;
  border: 1px solid;

}
