<!--<app-first-comp></app-first-comp>-->
<!--<app-second-comp></app-second-comp>-->
<nav>
  <a routerLink="/firstComp">firstComp</a>
</nav>

<nav>
  <a routerLink="/ApiCalling">ApiCalling</a>
</nav>
<router-outlet></router-outlet>
