<h1 [style.color]=" isOk ?'red':'green'">Hello angular</h1>
<label>FirstName : {{customer.firstName}}</label><br><br>
<label>LastName : {{customer.lastName}}</label><br><br>

<button><a routerLink="/firstComp" routerLinkActive="active">back</a></button>
